@import url(https://fonts.googleapis.com/css?family=VT323);

p:first-of-type {
  margin-top: 0;
}

p {
  margin: 1rem 0;
}

.base {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.frame {
  background: linear-gradient(rgba(0, 0, 0, 0.5), 45%, transparent), #333;
  border-radius: 50%;
  border: 0.5rem #222 solid;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.65), 0 0.25rem 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  flex: 1;
  height: auto;
  margin: 2rem;
  max-width: calc(100vh - 4rem);
  overflow: hidden;
  position: relative;
}

.frame::before {
  content: '';
  float: left;
  padding-top: 100%;
}

.screen {
  composes: base;
  box-sizing: border-box;
  animation: text 10ms infinite;
  text-shadow: 0rem 0.2rem 1rem hsla(48, 100%, 35%, 1);
  color: #ffcd00;
  font-family: 'VT323';
  font-size: 2rem;
  overflow: auto;
  padding: 15%;
  position: absolute;
}

.scanlines {
  composes: base;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0.2) 70%,
    rgba(0, 0, 0, 0.6)
  );
  background-size: 100% 0.3rem;
  pointer-events: none;
  position: absolute;
}

.shadow {
  composes: base;
  border-radius: 50%;
  box-shadow: inset 0 0 18rem black, inset 0 2rem 10rem black;
  pointer-events: none;
  position: relative;
}

.glow {
  composes: base;
  /* animation: glow 10ms infinite; */
  background: radial-gradient(
    circle at center,
    #ffcd00 0%,
    rgba(255, 80, 0, 0.3) 100%
  );
  opacity: 0.12;
  pointer-events: none;
  position: absolute;
}

::selection {
  background-color: #ffcd00;
  color: #333;
}

@keyframes text {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

@keyframes glow {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 0.15;
  }
}
